# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
kinktube

# Test
*.test
*.out
coverage.txt

# Misc
.DS_Store
*.pem
.env*

# IDE
.vscode
.idea
*.swp
*.swo

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*
